<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'game.label', default: 'Game')}" />
        <title><g:message code="default.list.label" args="[entityName]" /></title>
    </head>
    <body>
        <a href="#list-game" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
        <div class="nav" role="navigation">
            <ul>
                <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
                <li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
            </ul>
        </div>
        <div id="list-game" class="content scaffold-list" role="main">
            <h1><g:message code="default.list.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
                <div class="message" role="status">${flash.message}</div>
            </g:if>
            <table>
                <tr>
                    <th>Game ID</th>
                    <th>Winner</th>
                    <th>Winner Score</th>
                    <th>Looser</th>
                    <th>Looser Score</th>
                </tr>
                <g:each in="${gameList}" var="game">
                    <tr>
                        <td><a href="/mbdstp/game/show/${game.id}">${game.id}</a></td>
                        <td><a href="/mbdstp/user/show/${game.winner.id}">${game.winner.username}</a></td>
                        <td style="color:SteelBlue;">${game.winnerScore}</td>
                        <td><a href="/mbdstp/user/show/${game.looser.id}">${game.looser.username}</a></td>
                        <td style="color:OrangeRed;">${game.looserScore}</td>
                    </tr>
                </g:each>
            </table>

            <div class="pagination">
                <g:paginate total="${gameCount ?: 0}" />
            </div>
        </div>
    </body>
</html>